In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: numpy in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 3)) (3.9.0)
Requirement already satisfied: seaborn in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 4)) (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 5)) (1.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\maull\appdata\roaming\python\python312\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\maull\appdata\roaming\python\python312\site-packages (from matplotlib->-r requirements.txt (line 3)) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->-r requirements.txt (line 3)) (3.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\maull\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\maull\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

print('Libraries installed successfully!')

Libraries installed successfully!

In [3]:
# import the data, change the path to the location of the data
df = pd.read_csv('superstore_data.csv')

In [4]:
df.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0